form {
  margin: 20px auto;
  width: 500px;
}
input, button {
  padding: 10px;
  font-size: 16px;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  border-radius:20px
}
td, th {
  border: 1px solid #ddd;
  padding: 10px;
}


th {
  background-color: #ddd;
}

h1 {
font-family: "Montserrat", sans-serif;
font-weight: 800;

}

body {
  background: rgb(2,0,36);
  background: linear-gradient(337deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
background-size: 400% 400%;
  animation: anim 10s infinite ease-in-out;
}
  @keyframes anim {
    0% {
background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position:0 50%;
    }
  }



.container {
  background-color: #fff;
}

.width-80 {
width:80%
}


.form-control {
border-radius: 20px;
width:80%
}

  /* Add the magnifying glass icon to the right side of the input element */
  .fa-search {
    font-size: 20px;
    color: #333;
  }

  #summary-box {
    text-align: center;
    display: none;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.25);
    margin-top: 20px;
    width:10vw;
    align-content: center;
    margin: 20px auto;
    border-radius:5px;
  }
  
  #summary-box > div {
    display: grid;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  #summary-box .fa-number-sign,
  #summary-box .fa-money-bill-alt {
    font-size: 2em;
  }
  
  

  


  #summary-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  #summary-box .party-total {
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .party-logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #dee2e6;
  }
  

  
  @media (max-width: 767px) {
  
    input[type="search"] {
      height: 40px;
      width: 400px;
    }

    #summary-box {
      width: 80%;
    }

    .form-group {
width:80%;
margin-bottom:.2rem;
    }

    .fa-search {
display: none;
  
}

.form-inline .form-control{
width:100%;
}
  }
  