form {
  margin: 20px auto;
  width: 500px;
}
input, button {
  padding: 10px;
  font-size: 16px;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 10px;
}
th {
  background-color: #ddd;
}

h1 {
font-family: "Montserrat", sans-serif;
font-weight: 800;

}

  /* Add the magnifying glass icon to the right side of the input element */
  .fa-search {
    font-size: 20px;
    color: #333;
  }

  /* Summary box addition */
  #summary-box {
    text-align: center;
  
    display: none;

  }

  /* Media Queries */

  @media (max-width: 1068px) {
    .container {
      max-width: 100%;
    }
    table {
      font-size: 24px;
    }
    
  }
